@model IEnumerable<TropicalBears.Model.DataBase.Model.Estoque>

@{
    ViewBag.Title = "Compras";
}

<h2>Manutenção de Estoque</h2>
<p>
    @Html.ActionLink("Adicionar compra de produtos", "ComprarProdutos")
</p>
<hr />
@using (Html.BeginForm("ProcurarCompra", "Admin", FormMethod.Post))
{
    <div class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" name="nome_produto" placeholder="Nome" />
            <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </div>
}
<hr />

<h4>Atual Estoque</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produto.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                Preço de Custo
            </th>
            <th>
                Preço de Custo Medio
            </th>
            <th>
                Preço de Venda
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem =>item.Produto.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecoCusto)
        </td>
        <td>
            @item.CustoMedio()
        </td>
        <td>
            @item.getPreco()
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
        </td>
    </tr>
}

</table>
