@model IEnumerable<TropicalBears.Model.DataBase.Model.Desconto>

@{
    ViewBag.Title = "Desconto";
}

<h2>Cupons de Desconto</h2>

<div class="form-group">
    @using (Html.BeginForm("CreateDesconto", "Admin", FormMethod.Post))
    {
        <label for="codigo" class="control-label">Codigo</label>
        <input type="text" name="codigo" id="codigo" class="form-control" />

        <label for="tipo" class="control-label">Tipo</label>
        <select id="tipo" class="form-control" name="tipo">
            <option value="1" selected>
                10%
            </option>
            <option value="2">
                20%
            </option>
            <option value="3">
                R$20,00
            </option>
        </select>

        <button class="btn btn-default" type="submit">Adicionar</button>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @if (@item.Tipo == 1)
            {
                <p>10%</p>
            }
            @if (@item.Tipo == 2)
            {
                <p>20%</p>
            }
            @if(@item.Tipo == 3)
            { 
                <p>R$ 20,00</p>
            }
            
        </td>
        <td>
           <a href="/Admin/DeleteDesconto/@item.Id"><span class="glyphicon glyphicon-trash"></span></a> 
        </td>
    </tr>
}

</table>
